.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subjects {
  display: flex;
  justify-content: center;
}

.container {
  width: 1280px;
  margin: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.table-header {
  background-color: #25252b;
}

.table-content {
  height: 70vh;
  overflow-x: auto;
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  background-color: #adb5bd;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-content th {
  background-color: #adb5bd;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr:hover th, tbody tr:hover td {
  background: #dee2e6;
}

.checkbox-subject {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #212529;
}

.btn-submit {
  margin-top: 16px;
  width: 100px;
  height: 50px;
}